$('#container').empty().append('<p>You have successfully added an assessment!</p>');
$('#form').empty().after('<p>You have successfully added an assessment!</p>');
$('#form + p').fadeOut(3000, function(){ $('#form + p').remove(); });