<div class='row'>
  <div class="large-12 columns">
    <h3>This is a Chart</h3>
    <p>I wanted to include a chart in this app even if it killed me.</p>
  </div>
</div>
<div class='row'>
  <div class="large-12.columns">
    <div id="chart"></div>
  </div>
</div>


<script>

new Morris.Line({
  element: 'chart',
  data: [
  <% (1..9).each do |i| %>
    {Period: <%= i %>,Period:<%= i %>},
  <% end %>
  ],
  xkey: 'Period',
  ykeys : ['Period'],
  labels: ['Value']
});

</script>