<div class='row'>
  <div class="large-12 columns">
    <h3>This is a Chart</h3>
    <p>I wanted to include a chart in this app even if it killed me.</p>
  </div>
<div class='row'>
  <div class="large-12.columns">
    <div id="chart" style='width:250px;height:250px;'></div>
  </div>
</div>


<script>
new Morris.Line({
  element: 'chart',
  data: [
  <% (1..9).each do |i| %>
    "{Period: i,value:i},"
  <% end %>
  ],
  xkey: 'year',
  ykeys : ['value'],
  labels: ['Value']
});
</script>