.row
  .large-12.columns
    #anonymous
    = link_to('Register', new_teacher_path, :remote => true, :class => 'button tiny radius', :class => 'button_font')
    = link_to('Login', login_path, :remote => true, :class => 'button tiny radius', :class => 'button_font')
      = link_to('Register', new_teacher_path, :remote => true, :class => 'button tiny radius')
      = link_to('Login', login_path, :remote => true, :class => 'button tiny radius')
    #form
