@import url(http://fonts.googleapis.com/css?family=Skranji);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Crete+Round);

body
{
  background: url('blackboard.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subcontainer
{
  background-color: #fff;
}

.subheader
{
  color: white;
  font-family: 'Skranji', cursive;
}

.tabs
{
  font-family: 'Crete Round', serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.button_font
{
  font-family: 'Crete Round', serif;
}

.congratulations
{
  color: white;
}

.form_text
{
  color: white;
  font-family: 'Crete Round', serif;
}

.login_form
{
  color: white;
}

p
{
  color: white;
}

.student
{
  float: left;
}

h2
{
  font-family: 'Crete Round', serif;
  color: white;
}

h3
{
  font-family: 'Crete Round', serif;
  color: white;
}

h4
{
  font-family: 'Crete Round', serif;
  color: white;
}

h5
{
  font-family: 'Crete Round', serif;
  color: white;
}

h6
{
  font-family: 'Crete Round', serif;
  color: white;
}

.li
{
  background: white;
}

.success
{
  margin-left: 350px;
}

table
{
  width: 650px;
  font-family: 'Crete Round', serif;
  font-size: 32px;
}

.td
{
  background-color: white;
}

.tr
{
  background-color: white;
}

.checkboxes
{
  color: white;
}