@import url(http://fonts.googleapis.com/css?family=Skranji);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);

body
{
  background: url(blackboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subcontainer
{
  background-color: #fff;
}

.subheader
{
  color: white;
  font-family: 'Skranji', cursive;
}

.tabs
{
  font-family: 'Old Standard TT', serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.button_font
{
  font-family: 'Old Standard TT', serif;
}

.congratulations
{
  color: white;
}

.form_text
{
  color: white;
  font-family: 'Old Standard TT', serif;
}

.login_form
{
  color: white;
}

p
{
  color: white;
}

.student
{
  float: left;
}

h3
{
  font-family: 'Old Standard TT', serif;
  color: white;
}

.li
{
  background: white;
}