.row
  .large-12.columns
    = link_to "New Class", new_klass_path, :remote=>true
.row
  .large-12.columns
    %h4 My List of Classes
    %table
      %tr
        %td Name
        %td Period
      - @klasses.each do |klass|
        %tr
          %td= link_to klass.name, klass, :remote=>true
          %td= klass.period