.row
  .large-12.columns
    = link_to "New Class", new_klass_path, :remote=>true
    = link_to('Delete Class', @klass, :method=>'delete', :remote => true, :class => 'button tiny radius', :class => 'button_font')
.row
  .large-12.columns
    %h3 My List of Classes
    %table
      %tr
        %td Name
        %td Period
      - @klasses.each do |klass|
        %tr
          %td= link_to klass.name, klass, :remote=>true
          %td= klass.period